
    .header-box {
        grid-template-columns: 1fr 1fr 1fr;
        display: inline-block;
        background-color: rgb(19, 136, 19);
        width: 1500px;
        height: 150px;
        text-align: center;
    }

    header div, footer div{
        grid-template-columns: 1fr 1fr 1fr;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: white;
    }

    main div{
        color: black;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


    .box-1 p, .box-2 p, .box-3 p{
        display: grid;
        grid-template-rows: 50%;
    }

    .box-1, .box-2, .box-3{
        display: inline-block;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: rgba(128, 128, 128, 0.246);
        border: 2px rgb(19, 136, 19);
        border-radius: 20px;
    }

    .box-1 img, .box-2 img, .box-3 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-box {
        display: inline-block;
        background-color: rgb(19, 136, 19);
        width: 1500px;
        height: 90px;
        text-align: center;
    }

